# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx
*.xls

# Results and output
/results/
*.png
*.jpg
*.jpeg
